body{
    background-color: rgb(61, 146, 195);
}

.grocery-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grocery-list-card{
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-weight: bold;
    border-radius: 8px;

    box-shadow: 2px 2px 8px rgb(73, 73, 73);
}
