.login-container{
    display: flex;
    justify-content: space-evenly;
}

#login-form{
    margin-top: 150px;
    width: 500px;
    background-color: rgb(214, 214,214);
    box-shadow: 2px 2px 8px rgb(rgb(98, 98, 98));
    border-radius: 6px;
    padding: 15px;

}
#login-form div{
    margin: 10px;
}

#username, #password, login-btn{
    width: 10%;
    padding: 5px;
}

#login-btn{
    border: none;
    background-color: rgb(41, 124, 233);
}